{% extends 'base.html.twig' %}

{% block title %}Sigup | Club Ados App{% endblock %}

{% block body %}

<!-- component -->
<div class="bg-gray-100 flex justify-center items-center h-screen">
    <!-- Left: Image -->
<div class="w-1/2 h-screen hidden lg:block">
  <img src="{{asset('images/login-img.jpg')}}" alt="Login Image" class="object-cover w-full h-full">
</div>
<!-- Right: Login Form -->
<div class="lg:p-36 md:p-52 sm:20 p-8 w-full lg:w-1/2">
  <h1 class="text-2xl font-semibold mb-4">Inscription</h1>
  <form action="#" method="POST">
    <!-- Username Input -->
    <div class="mb-4">
      <label for="username" class="block text-gray-600">Identifiant</label>
      <input type="text" id="username" name="username" class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500" autocomplete="off">
    </div>
    <!-- Password Input -->
    <div class="mb-4">
      <label for="password" class="block text-gray-600">Mot de passe</label>
      <input type="password" id="password" name="password" class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500" autocomplete="off">
    </div>
    <div class="mb-4">
      <label for="password" class="block text-gray-600">Confirmer mot de passe</label>
      <input type="password" id="password" name="password" class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500" autocomplete="off">
    </div>

    <!-- Login Button -->
    <button type="submit" class="bg-orange-300 hover:bg-orange-600 text-black font-semibold rounded-md py-2 px-4 w-full">S'inscrire</button>
  </form>
  <!-- Sign up  Link -->
  <div class="mt-6 text-orange-500 text-center">
    <a href="/login" class="hover:underline">Se connecter</a>
  </div>
</div>
</div>


{% endblock %}
